.chips_input {
  width: 100%;
  min-height: 50px;
}
.wrapper {
  width: 100%;
  min-height: 50px;
  background: #eef3fb;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.container,
.hide_el,
.input {
  font: inherit;
  font-size: 15px;
  font-weight: 500;
}
.container {
  max-width: 500px;
  overflow: hidden;
}
.hide_el {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  height: 0;
}
.input {
  padding: 0px;
  outline: none;
  color: #4b5e80;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
}

.placeholder {
  color: #7a8394;
  font-weight: 500;
}

.warning {
  color: #d64747;
  font-weight: 500;
}
